#shapka
{
	position: absolute;
	top: 500px;
	left: 400px;	
}
#But1
{
	position: absolute;
	top: 600px;
	left: 400px
}
#podarok
{
	position: absolute;
}
tr
{
	height: 70px;
	
} 

td 
{
	text-align: center;
	color: red;
	font-family: arial;
	font-size: 30px;
	border-width: 2 px;
	border-color: white;
	border-style: ridge;
}

body
{
	background-image:url('fon.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
}



input
{
	background-color: blue;
	padding: 10px;
	height: 50px;
	width: 150px;
	color: white;
	font-size: 40px;
	border-radius: 20px;
	
}