#im
{
	position: absolute;
	top: 530px;
	left: 200px;
}

tr
{
	height:70px;
}

td
{
	text-align: center; 
	color: blue;
	font-family: arial;
	font-size: 30px;
	border-color: yellow;
	border-width: 3px;
}

input
{
	background-color: red;
	padding: 5px;
	height: 50px;
	width: 150px;
	color: yellow;
	font-size: 40px;
	border-radius: 15px;
	top: 50px;
	left: 500px;
}

body
{
	background-image: url("fon.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
}